In [1]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa

In [5]:
df_yellow_tripdata = pd.read_parquet('sources\yellow_tripdata_2024-01.parquet')
df_green_tripdata = pd.read_parquet('sources\green_tripdata_2024-01.parquet')
df_fhv_tripdata = pd.read_parquet('sources\\fhv_tripdata_2024-01.parquet')

In [6]:
df_yellow_tripdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [7]:
# Función para leer y limpiar los datos PARQUET
def read_and_clean_parquet(df):    
    # Limpiar datos: eliminar duplicados
    df = df.drop_duplicates()
    
    # Limpiar datos: manejar valores faltantes
    df = df.fillna({'some_column': 'default_value'})  # Ajusta según las columnas que manejen valores nulos
    
    # Transformaciones adicionales (ejemplo: convertir formatos de fecha)
    if 'pickup_datetime' in df.columns:
        df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
    if 'dropoff_datetime' in df.columns:
        df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])
    
    # Otros procesos de transformación...
    
    return df

In [8]:
read_and_clean_parquet(df_yellow_tripdata)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [9]:
read_and_clean_parquet(df_green_tripdata)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,1.0,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,1.0,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,1.0,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,1.0,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,1.0,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,0.0,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,0.0,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,0.0,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,0.0,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,0.0,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN

In [10]:
read_and_clean_parquet(df_fhv_tripdata)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00053,2024-01-01 00:15:00,2024-01-01 02:13:00,NaN,NaN,NaN,B00014
1,B00111,2024-01-01 00:30:00,2024-01-01 02:37:00,NaN,NaN,NaN,B00111
2,B00112,2024-01-01 00:27:24,2024-01-01 01:12:05,NaN,14.0,NaN,B00112
3,B00112,2024-01-01 00:10:09,2024-01-01 00:25:39,NaN,133.0,NaN,B00112
4,B00112,2024-01-01 00:57:07,2024-01-01 01:05:04,NaN,14.0,NaN,B00112
...,...,...,...,...,...,...,...
1290111,B03492,2024-01-31 23:51:21,2024-01-31 23:57:09,NaN,14.0,NaN,B03492
1290112,B03492,2024-01-31 23:05:06,2024-01-31 23:20:13,NaN,21.0,NaN,B03492
1290113,B03492,2024-01-31 23:49:07,2024-02-01 00:16:25,NaN,14.0,NaN,B03492
1290114,B03505,2024-01-31 23:04:46,2024-01-31 23:18:22,NaN,76.0,NaN,B03505
1290115,B03529,2024-01-31 23:45:30,2024-01-31 23:59:25,NaN,76.0,NaN,B03404


---

## 1. **Trip Record User Guide**
**Descripción:**
- Este documento proporciona una **guía completa** sobre cómo entender y utilizar los registros de viajes proporcionados por la Comisión de Taxis y Limusinas de Nueva York (TLC).
- Incluye información sobre el **formato de los datos**, **definiciones de campos**, y **consideraciones especiales** al trabajar con los distintos datasets.

**Utilidad para tu objetivo:**
- **Esencial** para comprender la estructura y el contenido de los diferentes datasets.
- Ayuda a **interpretar correctamente los datos** y asegura que el análisis sea preciso y coherente.
- Proporciona **contexto y aclaraciones** sobre posibles anomalías o particularidades en los datos.

---

## 2. **High Volume FHV Trips Data Dictionary**
**Descripción:**
- Contiene la **descripción detallada de los campos** presentes en el dataset de viajes de **vehículos de alta demanda (FHV)**, que incluyen servicios como **Uber, Lyft y otros servicios de ride-sharing**.
- Proporciona información sobre **horarios, ubicaciones de recogida y destino**, tiempos de viaje, y otros datos relevantes.

**Utilidad para tu objetivo:**
- **Altamente relevante** para analizar y **optimizar tiempos de espera y rutas** específicamente en el contexto de servicios como Uber.
- Permite **identificar patrones de demanda**, tiempos de espera promedio, y **eficiencia en la asignación de vehículos**.
- Facilita el **análisis comparativo** entre diferentes zonas y horarios, ayudando a **mejorar la distribución de recursos** y reducir tiempos de espera.
- Los datos pueden ser utilizados para **desarrollar modelos predictivos** que anticipen la demanda y optimicen la disponibilidad de vehículos.

---

## 3. **FHV Trips Data Dictionary**
**Descripción:**
- Describe los campos del dataset relacionado con **viajes de vehículos contratados (For-Hire Vehicles)** que no necesariamente pertenecen a servicios de alta demanda. Esto incluye **car services tradicionales y limusinas**.

**Utilidad para tu objetivo:**
- **Útil para obtener una perspectiva más amplia** del servicio de transporte contratado en NYC.
- Puede ayudar a **comparar la eficiencia operativa** entre servicios tradicionales y de alta demanda.
- Los datos pueden ser utilizados para **identificar oportunidades de mejora** y **entender el comportamiento del mercado** en diferentes segmentos.

---

## 4. **Yellow Trips Data Dictionary**
**Descripción:**
- Proporciona detalles sobre los campos del dataset de **viajes de taxis amarillos**, que operan principalmente en **Manhattan** y son una parte significativa del sistema de transporte de NYC.

**Utilidad para tu objetivo:**
- **Beneficioso para entender el panorama general** del transporte en NYC.
- Permite **comparar los tiempos de espera y eficiencia** entre taxis tradicionales y servicios de ride-sharing.
- Los datos pueden ayudar a **identificar áreas con alta demanda de transporte** y posibles **cuellos de botella** en el tráfico.
- Útil para **analizar tendencias históricas** y **complementar el análisis** de los servicios de alta demanda.

---

## 5. **Green Trips Data Dictionary**
**Descripción:**
- Detalla los campos del dataset de **viajes de taxis verdes**, que operan principalmente en los **distritos exteriores** de NYC (Brooklyn, Queens, Bronx, Staten Island) y **norte de Manhattan**.

**Utilidad para tu objetivo:**
- **Importante para analizar la eficiencia del transporte** en áreas fuera del centro de la ciudad.
- Permite **identificar oportunidades de optimización** en zonas que pueden estar menos atendidas por servicios de ride-sharing.
- Ayuda a **comprender patrones de demanda y tiempos de espera** en diferentes regiones geográficas.
- Puede ser utilizado para **diseñar estrategias específicas** que aborden las necesidades de transporte en estas áreas.

---

## 6. **Working With PARQUET Format**
**Descripción:**
- Este documento ofrece **instrucciones y mejores prácticas** para trabajar con archivos en **formato PARQUET**, un formato de almacenamiento columnar eficiente utilizado para **grandes conjuntos de datos**.

**Utilidad para tu objetivo:**
- **Crucial para manejar y procesar eficientemente** los datasets mencionados, que suelen ser de gran tamaño.
- El formato PARQUET **mejora el rendimiento** en operaciones de lectura/escritura y **reduce el uso de espacio de almacenamiento**.
- Facilita la **integración con herramientas de análisis de datos** como Apache Spark, Hadoop, y lenguajes de programación como Python (usando librerías como **pandas** y **pyarrow**).
- Ayuda a **optimizar los procesos de extracción, transformación y carga (ETL)**, acelerando el análisis y la generación de insights.

---

## **Recomendación General**

Para **maximizar la eficiencia operativa y reducir los tiempos de espera**, te sugiero:

1. **Priorizar el uso del**:
   - **High Volume FHV Trips Data Dictionary**: Para obtener datos específicos de servicios como Uber y analizar directamente los tiempos de espera y rutas utilizadas.
   - **Trip Record User Guide**: Para asegurar una comprensión profunda y correcta de los datos que vas a manejar.

2. **Complementar con**:
   - **FHV Trips Data Dictionary**: Para comparar y entender diferencias con otros servicios de transporte contratado.
   - **Yellow y Green Trips Data Dictionaries**: Para obtener una **visión integral del sistema de transporte** en NYC y **identificar patrones comunes o diferencias significativas** que puedan informar estrategias de optimización más amplias.
   
3. **Utilizar el documento**:
   - **Working With PARQUET Format**: Para **manejar eficientemente los grandes volúmenes de datos**, asegurando que tus procesos de análisis sean rápidos y escalables.

---

## **Pasos Sugeridos para tu Análisis**

1. **Data Ingestion**:
   - **Importa y almacena los datasets relevantes** utilizando el formato PARQUET para eficiencia.
   - **Verifica y limpia los datos** asegurando su calidad para el análisis.

2. **Análisis Exploratorio**:
   - **Identifica patrones de demanda**, tiempos de espera promedio, y rutas más comunes.
   - **Detecta áreas con altos tiempos de espera** y posibles causas (e.g., baja disponibilidad de vehículos, tráfico, eventos especiales).

3. **Modelado y Optimización**:
   - **Desarrolla modelos predictivos** que anticipen la demanda en diferentes zonas y horarios.
   - **Simula y propone rutas óptimas** que reduzcan los tiempos de espera y mejoren la eficiencia operativa.

4. **Implementación y Monitoreo**:
   - **Implementa las estrategias propuestas** y monitorea su impacto en tiempo real.
   - **Ajusta y mejora continuamente** las estrategias basándote en nuevos datos y feedback obtenido.

5. **Reporte y Visualización**:
   - **Crea dashboards y reportes interactivos** que muestren el desempeño del KPI y faciliten la toma de decisiones.
   - **Comunica los hallazgos y mejoras** a los stakeholders de manera clara y efectiva.

---

## **Conclusión**

Al **combinar y analizar estratégicamente estos datasets**, podrás **obtener insights profundos** sobre la operación de servicios de transporte en NYC y **diseñar soluciones efectivas** para **reducir los tiempos de espera** de los pasajeros. El uso eficiente de los datos, junto con herramientas y metodologías adecuadas, será clave para **lograr y mantener mejoras sostenibles en la eficiencia operativa**.

Para optimizar rutas y tiempos de espera, hay varias APIs disponibles que pueden ofrecer datos útiles. A continuación, te presento algunas opciones con propósitos claros que podrías considerar:

### 1. **Google Maps API**

**Propósito**: Ofrecer información sobre rutas, estimaciones de tiempo, tráfico y más.

- **Directions API**: Proporciona rutas entre dos ubicaciones, incluyendo tiempos estimados de viaje y distancias.
- **Distance Matrix API**: Ofrece tiempos y distancias entre múltiples pares de ubicaciones, lo que es útil para la planificación de rutas y la optimización.
- **Traffic Data**: Proporciona información sobre el tráfico en tiempo real y condiciones de carretera.

**Documentación**: [Google Maps Directions API](https://developers.google.com/maps/documentation/directions/start)  
**Ejemplo de uso**: Obtener tiempos estimados de viaje entre varias ubicaciones.

### 2. **Mapbox API**

**Propósito**: Proporcionar servicios de mapas y navegación, incluyendo enrutamiento y tráfico.

- **Mapbox Directions API**: Ofrece enrutamiento y estimaciones de tiempo de viaje.
- **Mapbox Traffic Data**: Proporciona información en tiempo real sobre el tráfico y las condiciones de las carreteras.

**Documentación**: [Mapbox Directions API](https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-directions/)  
**Ejemplo de uso**: Obtener rutas y tiempos estimados con datos de tráfico en tiempo real.

### 3. **Here API**

**Propósito**: Proporcionar servicios de localización, navegación y tráfico.

- **Here Routing API**: Ofrece rutas entre ubicaciones, incluyendo estimaciones de tiempo y distancias.
- **Here Traffic API**: Proporciona información sobre el tráfico en tiempo real y predicciones de tráfico.

**Documentación**: [Here Routing API](https://developer.here.com/documentation/routing-api/8.11.0/dev_guide/index.html)  
**Ejemplo de uso**: Planificar rutas y analizar el tráfico en tiempo real.

### 4. **TomTom API**

**Propósito**: Ofrecer servicios de navegación, enrutamiento y datos de tráfico.

- **TomTom Routing API**: Ofrece enrutamiento y tiempos estimados de viaje.
- **TomTom Traffic API**: Proporciona datos de tráfico en tiempo real y predicciones de tráfico.

**Documentación**: [TomTom Routing API](https://developer.tomtom.com/routing-api/routing-api-documentation)  
**Ejemplo de uso**: Obtener estimaciones de tiempo y rutas optimizadas con datos de tráfico en tiempo real.

### 5. **OpenRouteService API**

**Propósito**: Ofrecer servicios de enrutamiento y análisis de datos geoespaciales.

- **ORS Routing API**: Proporciona rutas y estimaciones de tiempo de viaje, incluyendo opciones para diferentes modos de transporte.
- **ORS Matrix API**: Ofrece matrices de distancias y tiempos entre múltiples ubicaciones.

**Documentación**: [OpenRouteService API](https://openrouteservice.org/sign-up/)  
**Ejemplo de uso**: Calcular rutas y tiempos entre varias ubicaciones, y analizar matrices de distancia.

```

### Resumen

Para la optimización de rutas y tiempos de espera, **Google Maps API**, **Mapbox API**, **Here API**, **TomTom API**, y **OpenRouteService API** son opciones excelentes. Cada una ofrece características específicas que pueden ayudarte a lograr tus objetivos, como enrutamiento, estimaciones de tiempo, y datos de tráfico en tiempo real.

Si necesitas más detalles o ejemplos adicionales sobre alguna de estas APIs, ¡házmelo saber!