# ETL

### Cargo el dataset correspondiente desde la carpeta /sources para posteriormente analizarlo, limpiarlo y guardarlo en la carpeta /Data

In [17]:
# Importamos las librerias que vamos a utilizar
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [19]:
# Acceso a el cvs y se pasa a un dataframe 
df_vfed = pd.read_csv('sources/Vehicle Fuel Economy Data.csv')

In [20]:
# Visualización de manera general
df_vfed.head()

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,...,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,...,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0

In [21]:
#  Eliminación de columnas no necesarias
df_vfed_col_eli = ['barrelsA08','charge240','fuelType','barrels08','range',
       'city08U','cityA08','cityA08U','cityCD','cityE','cityUF',
       'comb08', 'comb08U','combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF',
       'cylinders','displ', 'drive', 'engId', 'eng_dscr', 'feScore',
       'ghgScore', 'ghgScoreA','co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4','rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'evMotor','rangeA',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb']
df_vfed.drop(df_vfed_col_eli, axis=1, inplace=True)

In [22]:
df_vfed = df_vfed.reset_index(drop=True)

In [23]:
# Visualización de manera general
df_vfed.head()

,Year,Manufacturer,Model,city08,co2,fuelCost08,fuelCostA08,fuelType1,VClass,fuelType2
0,2017,BMW,M6 Coupe,15.0,519.0,3850.0,0.0,Premium Gasoline,Subcompact Cars,NaN
1,2017,BMW,X3 sDrive28i,21.0,374.0,2700.0,0.0,Premium Gasoline,Small Sport Utility Vehicle 2WD,NaN
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,2950.0,0.0,Premium Gasoline,Midsize Cars,NaN
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,2400.0,0.0,Premium Gasoline,Minicompact Cars,NaN
4,2017,Kia,Sedona SX,18.0,433.0,2550.0,0.0,Regular Gasoline,Minivan - 2WD,NaN

In [24]:
# Cambiar de nombre a las columnas
df_vfed.rename(columns={'city08':'Miles per gallon (mpg)','co2':'CO2 (p/mile)','fuelCost08':'FuelCost',
                        'fuelCostA08':'FuelCostA','fuelType1':'Fuel',
                        'VClass':'Category','fuelType2':'Alternative Fuel'}, inplace=True)

In [25]:
# Visualización de manera general
df_vfed.head()

,Year,Manufacturer,Model,Miles per gallon (mpg),CO2 (p/mile),FuelCost,FuelCostA,Fuel,Category,Alternative Fuel
0,2017,BMW,M6 Coupe,15.0,519.0,3850.0,0.0,Premium Gasoline,Subcompact Cars,NaN
1,2017,BMW,X3 sDrive28i,21.0,374.0,2700.0,0.0,Premium Gasoline,Small Sport Utility Vehicle 2WD,NaN
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,2950.0,0.0,Premium Gasoline,Midsize Cars,NaN
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,2400.0,0.0,Premium Gasoline,Minicompact Cars,NaN
4,2017,Kia,Sedona SX,18.0,433.0,2550.0,0.0,Regular Gasoline,Minivan - 2WD,NaN

In [26]:
# Cambiamos NaN del Combustible Alternativo a No
df_vfed['Alternative Fuel'] = df_vfed['Alternative Fuel'].fillna('No')

In [27]:
# Eliminamos las filas donde 'Fuel' es nulo
df_vfed = df_vfed[df_vfed['Fuel'].notna()]

In [28]:
# Verificamos los duplicados
df_vfed.duplicated().sum()

4409

In [29]:
# Eliminamos las filas con duplicados
df_vfed = df_vfed.drop_duplicates()

In [30]:
# Seteo el indice
df_vfed.reset_index(drop=True, inplace=True)

In [31]:
# Muestro el Dataframe
df_vfed.head()

,Year,Manufacturer,Model,Miles per gallon (mpg),CO2 (p/mile),FuelCost,FuelCostA,Fuel,Category,Alternative Fuel
0,2017,BMW,M6 Coupe,15.0,519.0,3850.0,0.0,Premium Gasoline,Subcompact Cars,No
1,2017,BMW,X3 sDrive28i,21.0,374.0,2700.0,0.0,Premium Gasoline,Small Sport Utility Vehicle 2WD,No
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,2950.0,0.0,Premium Gasoline,Midsize Cars,No
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,2400.0,0.0,Premium Gasoline,Minicompact Cars,No
4,2017,Kia,Sedona SX,18.0,433.0,2550.0,0.0,Regular Gasoline,Minivan - 2WD,No

In [32]:
# Se analisa la informacion y estadisticas del nuevo dataset ya limpio con sus datos filtrados
df_vfed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40544 entries, 0 to 40543
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    40544 non-null  int64
 1   Manufacturer            40544 non-null  object
 2   Model                   40544 non-null  object
 3   Miles per gallon (mpg)  40544 non-null  float64
 4   CO2 (p/mile)            40544 non-null  float64
 5   FuelCost                40544 non-null  float64
 6   FuelCostA               40544 non-null  float64
 7   Fuel                    40544 non-null  object
 8   Category                40544 non-null  object
 9   Alternative Fuel        40544 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.1+ MB

In [33]:
# Estadisticas del Dataframe
summary_stats = df_vfed.describe()
print(summary_stats)

               Year  Miles per gallon (mpg)  CO2 (p/mile)      FuelCost  \
count  40544.000000            40544.000000  40544.000000  40544.000000
mean    2005.077669               19.484067    136.003848   2918.360300
std       12.032268               11.022238    201.700460    858.160834
min     1984.000000                6.000000     -1.000000    500.000000
25%     1994.000000               15.000000     -1.000000   2350.000000
50%     2007.000000               18.000000     -1.000000   2850.000000
75%     2016.000000               21.000000    338.000000   3450.000000
max     2024.000000              153.000000    979.000000   9350.000000

          FuelCostA
count  40544.000000
mean     124.282261
std      637.290660
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max     5000.000000

In [34]:
# Guarda el dataframe en la carpeta Data
df_vfed.to_parquet('Data/df_vfed.parquet', index=False)